@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: dimgrey;
  line-height: 2;
}

/* dismiss bulletpoints */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: dimgrey;
}

h1,
h2,
h3 {
  font-weight: 200;
  line-height: 1.1;
  margin: 10px 0;
}

p {
  margin: 15px 0;
}

/* fill the whole container */
img {
  width: 100%;
}

.navbar {
  background-color: #1db954;
  color: #fff;
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: white;
  padding: 10px;
  margin: 0 10px;
}

.navbar a:hover {
  border-bottom: 3px white solid;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.checked {
  border: 5px solid red;
}

.checkbox-container {
}
/* hide default checkbox style */
/* .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} */
