{% extends "base.html" %} {% block content %}

<section class="showcase">
  <div class="container grid">
    <div class="showcase-text">
      <h1>Custom recommendations</h1>
      <p>
        choose origin playlist (from which you will take your seed) and enter
        destination playlist name. Then select at most 5 songs, depth of search,
        number of songs you want to add and server will find recommendations
        based on recommendations basend on recommendations etc. to the depth you
        have chosen.
      </p>
      <a href="{{ url_for('recommendations') }}" class="btn submit btn-outline"
        >Go</a
      >
    </div>

    <div class="showcase-text">
      <h1>All about that track</h1>
      <p>
        Enter spotify track id to get audio features chart, lyrics, all albums
        from that artist and description.
      </p>
      <a
        href="{{ url_for('all_about_that_track') }}"
        class="btn submit btn-outline"
        >Go</a
      >
    </div>

    <div class="showcase-text">
      <h1>Least popular track</h1>
      <p>Enter spotify artist id to get the least popular track.</p>
      <a
        href="{{ url_for('least_popular_track') }}"
        class="btn submit btn-outline"
        >Go</a
      >
    </div>

    <div class="showcase-text">
      <h1>One album one track</h1>
      <p>
        Enter spotify artist id and specify new playlist name to get one track
        from each of artist's albums.
      </p>
      <a
        href="{{ url_for('one_album_one_track') }}"
        class="btn submit btn-outline"
        >Go</a
      >
    </div>

    <div class="showcase-text">
      <h1>Mirrored playlist</h1>
      <p>
        Choose an existing playlist of yours and specify new playlist name, get
        new playlist, where each track is replaced with different track from
        corresponding artist.
      </p>
      <a href="{{ url_for('mirror') }}" class="btn submit btn-outline">Go</a>
    </div>
  </div>
</section>

<!-- <div class="narrow">
  <a href={{url_for('spotify_api_requests.get_user_playlists')}}>login</a>
</div>

<div id="names">
  <button id="get_names">Daj nazwy</button>
</div>

<script>
   const getUserPlaylists = () => {
    axios.get('/get_user_playlists').then(console.log("XD")).then(
      function(response) {
          const names = document.querySelector("#names");
          items = response.data.items
          for(let item of items)
          {
            const element = document.createElement('div');
            element.innerText = item.name
            names.append(element);
          }
      }
    );}

   const button = document.querySelector("#get_names");
   button.addEventListener("click", getUserPlaylists)
</script> -->
{% endblock %}
